@charset "utf-8";
/* 清空默认距离 */
*{ padding:0; margin:0;}
/* 主体设定 */
body{padding:0; margin:0; font-size:12px; font-family:"微软雅黑"; line-height:2em; color:#333; background:#fff;}
/* 块级元素 */
h1,h2,h3,h4,h5,h6,ul,ol,li,img,form,input{padding:0; margin:0; display:block;}
/* 列表 */
ul,ol{list-style:none;}
/* 链接 */
a{ color:#000; text-decoration:none;}
a:hover{color:#C3F; text-decoration:none;}
/* 图片 */
img{border:0;}
/* 浮动 */
.clear{clear:both;}
.fl{float:left}
.fr{float:right}
i,em{ font-style:normal;}
